	<div class="footer utile">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="address text-uppercase">
						Washington, DC <br>
						Santa Barbara, Ca
					</div>
				</div>
				<div class="col-md-4 text-uppercase">
					<div class="phone">
						<a href="tel:301 938 4186">301 938 4186</a>
					</div>
					<div class="email">
						<a href="mailto:lara@laramorabito.com">lara@laramorabito.com</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 laraMorabitoTag">
					@laramorabitogardens
				</div>
				<div class="col-12 copyright utile-italic">
					Copyright Lara Morabito 2021 — Photography: Chantal Hasse, Natalie Sweeney, Carly Blumberg <br> <span class="empowered">EMPOWERED BY COLONY WEB SOLUTIONS</span>
				</div>
			</div>
		</div>
	</div>
	<script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/slick.js"></script>
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/home.js"></script>
    <script src="/code.js"></script>