<div id="mySidenav" class="sidenav utile">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
	<svg xmlns="http://www.w3.org/2000/svg" width="44" height="29.599" viewBox="0 0 44 29.599"><g transform="translate(-1316.666 -40.983)"><rect width="44" height="2" transform="translate(1316.666 66)" fill="#fff" opacity="0"/><rect width="43.664" height="2" transform="translate(1323.578 40.983) rotate(40)" fill="#fff"/><rect width="43.664" height="2" transform="translate(1322.293 69.049) rotate(-40)" fill="#fff"/><rect width="44" height="2" transform="translate(1316.666 44)" fill="#fff" opacity="0"/></g></svg>
  </a>
  <div id="sidenav-content">
	  <div class="sidenav-logo d-md-none d-block">
	  	<a href="/"><img src="/assets/img/logo.png" alt=""></a>
	  </div>
	  <div class="sidenav-links text-uppercase">
		  <a href="/town">Town</a>
		  <a href="/estate">Estate</a>
		  <a href="/details">Details</a>
		  <a href="/process">Process</a>
		  <a href="/about-lara">About Lara</a>
	  </div>
	  <div class="sidenav-bottom text-uppercase text-start">
	  	<a href="#" class="sidebar-address mb-5">
			Washington, DC <br>
			Santa Barbara, Ca
		</a>
		<div class="sidebar-phone-email mb-5">
			<a href="tel:301 938 4186">301 938 4186</a>
			<a href="mailto:lara@laramorabito.com">lara@laramorabito.com</a>
		</div>
		<div class="sidebar-tag mb-5">
			<a href="#">@laramorabitogardens</a>
		</div>
	  </div>
	</div>
</div>

<header>
	<div class="container">
		<div class="row">
			<div class="col-6">
				<div class="header-logo">
					{{ if or (eq .Type "Light") (.IsHome) }}
					<a href="/"><img src="/assets/img/logo.png" alt=""></a>
					{{ else }}
					<a href="/"><img src="/assets/img/logo-dark.png" alt=""></a>
					{{ end }}
				</div>
			</div>
			<div class="col-6 text-end">
				<div class="toggle-menu">
					<span class="fixed-toggle-btn position-relative" onclick="openNav()" style="cursor: pointer;">
						{{ if or (eq .Type "Light") (.IsHome) }}
							<svg xmlns="http://www.w3.org/2000/svg" width="46" height="25" viewBox="0 0 44 24"><g transform="translate(-1316.666 -44)"><rect width="44" height="2" transform="translate(1316.666 66)" fill="#faf9f7"/><rect width="43.664" height="2" transform="translate(1317.002 54.521)" fill="#faf9f7"/><rect width="43.664" height="2" transform="translate(1317.002 54.521)" fill="#faf9f7"/><rect width="44" height="2" transform="translate(1316.666 44)" fill="#faf9f7"/></g></svg>
						{{ else }}
							<svg xmlns="http://www.w3.org/2000/svg" width="46" height="25" viewBox="0 0 44 24"><g transform="translate(-1316.666 -44)"><rect width="44" height="2" transform="translate(1316.666 66)" fill="#35412F"/><rect width="43.664" height="2" transform="translate(1317.002 54.521)" fill="#35412F"/><rect width="43.664" height="2" transform="translate(1317.002 54.521)" fill="#35412F"/><rect width="44" height="2" transform="translate(1316.666 44)" fill="#35412F"/></g></svg>
						{{ end }}
					</span>
				</div>
			</div>
		</div>
	</div>
</header>
{{ if .IsHome }}
<div class="home-slider">
	<div id="home-slider" class="carousel slide carousel-fade" data-bs-ride="carousel">
	  <div class="carousel-inner">
	  	<div class="carousel-data-change">
		    <div class="carousel-item active">
		      <img src="/assets/img/default/default1.jpg" class="d-block w-100" alt="...">
		    </div>
		    <div class="carousel-item">
		      <img src="/assets/img/default/default2.jpg" class="d-block w-100" alt="...">
		    </div>
		    <div class="carousel-item">
		      <img src="/assets/img/default/default3.jpg" class="d-block w-100" alt="...">
		    </div>
		    <div class="carousel-item">
		      <img src="/assets/img/default/default4.jpg" class="d-block w-100" alt="...">
		    </div>
		    <div class="carousel-item">
		      <img src="/assets/img/default/default5.jpg" class="d-block w-100" alt="...">
		    </div>
	    </div>
	    <div class="container">
	    	<div class="slide-links">
				<a href="/town" onmouseenter="changeSlidesTown()" onmouseleave="reverBackSlides()" class="townSlidesLink">Town</a> <br>
				<a href="/estate" onmouseenter="changeSlidesEstate()" onmouseleave="reverBackSlides()" class="estateSlidesLink">Estate</a>
			</div>
		</div>
	  </div>
	</div>
</div>
{{ end }}