	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Lara Morabito</title>
	<link rel="icon" href="/assets/img/favicon.png" type="image/png" sizes="16x16">
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/slick.css">
	<link rel="stylesheet" href="/assets/css/slick-theme.css">
	<link rel="stylesheet" href="/style.css">
	<link rel="stylesheet" href="/responsive.css">
	<!-- userback widget -->
	<script>
		window.Userback = window.Userback || {};
		Userback.access_token = '30588|45619|VHOXgVuZWIymHCWiRZyPQ9bdL';
		(function(d) {
			var s = d.createElement('script');s.async = true;
			s.src = 'https://static.userback.io/widget/v1.js';
			(d.head || d.body).appendChild(s);
		})(document);
	</script>
